DATABASE_URL=
JWT_SECRET=
ACCESS_TOKEN_TTL=15m
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=change_me
REDIS_DB=0
REFRESH_TOKEN_IDLE_TTL=168h
REFRESH_TOKEN_ABSOLUTE_TTL=1440h
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=do_together